extends layout

block content	
	.jumbotron
		.container
			h2 About Us
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris
			ul
				li Web development
				li Android app development
				li Robotics
			br
			a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
